openapi: 3.0.1
info:
  title: IDnow Gateway Authentication Results API
  description: Specification of the IDnow identity-verification gateway API. Companies authenticate against the gateway, create and drive identification orders (AutoIdent automated and VideoIdent human-assisted), retrieve results and captured documents, and subscribe to status-change webhooks. Endpoints and payloads documented here are derived from IDnow's public developer documentation; consult the IDnow Developer Hub for the authoritative, complete reference and request/response schemas.
  termsOfService: https://www.idnow.io/terms-conditions/
  contact:
    name: IDnow Support
    url: https://www.idnow.io/developers/
  version: '1.0'
servers:
- url: https://gateway.idnow.de/api/v1
  description: Production gateway
- url: https://gateway.test.idnow.de/api/v1
  description: Test gateway
security:
- LoginToken: []
tags:
- name: Results
paths:
  /{company}/identifications/{transactionId}:
    get:
      operationId: getIdentification
      tags:
      - Results
      summary: Retrieve the result of an identification.
      description: Returns the current state and result data for an identification as JSON. Once the identification has finished, the captured ID-document and face images can be requested via the include flag.
      parameters:
      - name: company
        in: path
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      - name: include_documents
        in: query
        required: false
        description: When true, includes captured document and face images.
        schema:
          type: boolean
      responses:
        '200':
          description: Identification result.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    LoginToken:
      type: apiKey
      in: header
      name: X-API-LOGIN-TOKEN
      description: JWT returned by the login endpoint, sent on every authenticated request.
